// @import 'modules/mixinModules';
@use 'modules/mixinModules'as mMod;
// Command = sass scss/mixin.scss css/mixin.css

// Kumpulan style yang dapat digunakan berulang-ulang
.mixHeader ul {
  @include mMod.inline-list();

  li {
    background-color: salmon;
    padding: 0.7em;

    a {
      color: yellow;
      text-decoration: none;
    }
  }
}

.mixFooter ul {
  @include mMod.inline-list();

  li {
    background-color: salmon;
    padding: 0.7em;
  }
}

.mixMain {
  .container {
    // flex-box(row-reverse) melempar parameter kedalam mixin $direction
    @include mMod.flex-box(row-reverse, space-between);
    width: 600px;
    height: 400px;
    background-color: grey;

    .box {
      width: 60px;
      height: 60px;
      background-color: limegreen;
      text-align: center;
      line-height: 60px;
    }
  }
}
