// Kumpulan style yang dapat digunakan berulang-ulang

@mixin inline-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

.mixHeader ul {
  @include inline-list();

  li {
    background-color: salmon;
    padding: 0.7em;

    a {
      color: yellow;
      text-decoration: none;
    }
  }
}

.mixFooter ul {
  @include inline-list();

  li {
    background-color: salmon;
    padding: 0.7em;
  }
}

// Arguments Mixin
// Set default argument as 'row'
@mixin flex-box($direction: row, $space: center) {
  display: flex;
  justify-content: $space;
  align-items: center;
  flex-direction: $direction;
}

.mixMain {
  .container {
    // flex-box(row-reverse) melempar parameter kedalam mixin $direction
    @include flex-box(row-reverse, space-between);
    width: 600px;
    height: 400px;
    background-color: grey;

    .box {
      width: 60px;
      height: 60px;
      background-color: limegreen;
      text-align: center;
      line-height: 60px;
    }
  }
}
